<div id="<%= @id %>">
	<div class="subtitle">
		Category: <%= @state.post.category.name %>
	</div>
	<%= updates_component(@id, @state, @socket) %>
	<h1 class="title"><%= @state.post.title %></h1>
	<div class="content">
		<%= markdown_to_html(@state.post.body) %>
	</div>
	<button class="button is-primary is-small is-fullwidth" type="button" phx-click="edit_post" phx-target="#<%= @id %>">Edit Post</button>
</div>
