<div id="<%= @id %>">
  <%= @display_name_form %>
    <div class="field">
      <div class="control">
        <%= text_input @display_name_form, :display_name,
        class: "input is-large",
        placeholder: "Your public name"
        %>
      </div>
      <%= error_tag @display_name_form, :display_name %>
    </div>
	</form>
</div>
