// live_view specific classes https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.html#module-loading-state-and-errors

.bloom-changing {
  display: none;
}
.bloom-changed {
  display: block;
}
.phx-change-loading {
  .bloom-changing {
    display: block;
  }
  .bloom-changed {
    display: none;
  }
}
