// live_view specific classes https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.html#module-loading-state-and-errors

.leap-changing-hide {
  display: none;
}
.leap-changed-hide {
  display: block;
}
.phx-change-loading {
  .leap-changing-hide {
    display: block;
  }
  .leap-changed-hide {
    display: none;
  }
}
