<div class="field" id="<%= @id %>">

  <div class="control" phx-update="ignore">
    <%= hidden_input  @form, @field, id: "textarea_#{@id}", value: @value %>
    <div id="<%= "tui_editor_" <> @id %>" phx-hook="TuiEditor" data-textarea-id='<%= "textarea_" <> @id  %>'></div>
  </div>
  <%= error_tag @form, @field %>

</div>
