<div id="<%= @id %>">
  <section class="section">
    <div class="container">
      <div class="title">Latest Posts</div>
      <%= for post <- @posts do %>
        <%= post_details_component(post, @socket) %>
      <% end %>
    </div>
  </section>
</div>
